[submodule "IvyEngine/vendor/spdlog"]
	path = IvyEngine/vendor/spdlog
	url = https://github.com/ErvinCs/spdlog
	branch = master
[submodule "IvyEngine/vendor/glm"]
	path = IvyEngine/vendor/glm
	url = https://github.com/ErvinCs/glm
	branch = master
[submodule "IvyEngine/vendor/glfw"]
	path = IvyEngine/vendor/glfw
	url = https://github.com/ErvinCs/glfw
	branch = master
[submodule "IvyEngine/vendor/imgui"]
	path = IvyEngine/vendor/imgui
	url = https://github.com/ErvinCs/imgui
	branch = docking