[submodule "IvyEngine/vendor/spdlog"]
	path = IvyEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "IvyEngine/vendor/glm"]
	path = IvyEngine/vendor/glm
	url = https://github.com/g-truc/glm
